/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/WebApp-war/nbproject/private/
/EnterpriseApplication1/App-ejb/nbproject/private/
/EnterpriseApplication1/App-ejb/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/WebApp-war/build/
/EnterpriseApplication1/dist/
/EnterpriseApplication1/WebApp-war/dist/
/EnterpriseApplication1/App-ejb/dist/
EnterpriseApplication1/App-ejb/src/conf/persistence.xml
