*{
    margin:0px;
    padding:0px;
}
img{border:0px;}
html{
    width:100%;
    background:url(../images/footer_bg.jpg) bottom center no-repeat;
    background-color:#000000;
}
body{
    width:100%;
    min-width:1012px;
    height:100%;
    margin:0 auto;
    background:url(../images/header_bg.jpg) top center no-repeat;
}
#site{
    width:1012px;
    overflow:hidden;
    position:relative;
    margin:0 auto;
}
#header{
    width:1003px;
    height:348px;
    position:relative;
}
#menu{
    width:983px;
    height:49px;
    background:url(../images/menu_bg.jpg) top left no-repeat;
    padding:8px 0 0 20px;
}
#menu li{
    display:inline;
    list-style-type:none;
    line-height:45px;
}
#menu .home a{
    background:none;
}
#menu li a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#97A7B7;
    text-decoration:none;
    display:block;
    float:left;
    height:45px;
    padding:0 29px;
    background:url(../images/separate_line.gif) top left no-repeat;
}
#menu li a:visited{color:#97A7B7;}
#menu li a:hover{color:#DE9DC0;}
#header .social{
    position:absolute;
    top:5px;
    right:79px;
}
#header .social a{
    display:inline;
    margin:0 0 0 4px;
}

#header .logo{
    display:block;
    font-size: 40px;
    font-family: monospace;
    text-decoration: none;
    color: white;
    margin:29px 0 0 36px;
}
#header .slogan{
    display:block;
    margin:92px 0 0 255px;
}
#content{
    width:1003px;
    overflow:hidden;
    background:url(../images/main_bg.gif) top left repeat-y;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
#wrapper{
    width:1003px;
    overflow:hidden;
    background:url(../images/end_bg.jpg) bottom left no-repeat;
}
.inner_copy{
    border:0;
    color:#fff;
    float:right;
    width:0.09%!important;
    margin:-100px;
    overflow:hidden;
    line-height:0px;
    padding:0px;
    font-size:11px
}
#main{
    width:670px;
    float:left;
}
#main h2{
    display:block;
    padding:40px 0 0px 0px;
    background:url(../images/main_top_small.jpg) top left no-repeat;
    font-size:24px;
    color:#84919E;
    font-weight:normal;
}
#posts{
    overflow:hidden;
}
.post{
    width:582px;
    overflow:hidden;
    padding:0 0 39px 38px;
    color:#97A7B7;
}

.movies{
    clear: both;
    display:block;
    width:582px;
    padding: 20px 0 39px 38px;
    color:#97A7B7;        
}

.movies .thumb{    
    display: inline;
    float: left;
    width: 200px;    
}

.movies .info {
    display: inline;    
    float: left;
    width: 382px;    

}

.movies .more {
    display:block;
    float:right;
    line-height:16px;
    background:url(../images/more.gif) top left no-repeat;
    padding:0 0 0 22px;
    margin:0 18px 0 0;
}

.post .person {
    clear: both;
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;        
}
.post .person  img{            
    float: left;
    padding: 0 20px;    
}
.post .person .whos{        
    float: left;
    display: inline-block;
    width: 360px;
}
.post .person .whos h4{        
    padding-bottom: 10px;
}


.post h1{
    font-size:28px;
    color:#ACCAE7;
    padding:0 0 20px 0;
}
.post img{
    padding:0 0 24px 0;
}
.post p{
    padding:0 0 13px 0;
}
.post a, #sidebar .more{
    color:#19ACE3;
    text-decoration:underline
}
.post a:visited, #sidebar .more:visited{text-decoration:underline}
.post a:hover, #sidebar .more:hover{text-decoration:none}
.post .more, #sidebar .more{
    display:block;
    float:left;
    line-height:16px;
    background:url(../images/more.gif) top left no-repeat;
    padding:0 0 0 22px;
    margin:0 18px 0 0;
}
.post .comments{
    display:block;
    float:left;
    line-height:16px;
    background:url(../images/comments.gif) top left no-repeat;
    padding:0 0 0 22px;
    margin:0 18px 0 0;
}
#pager{
    width:580px;
    height:62px;
    margin:0 0 0 38px;
    padding:8px 0 0 0;
    border-top:1px solid #242836;
    font-size:12px;
    overflow:hidden;
}
#pager a{
}
#pager ul{
    display:block;
    overflow:hidden;
    float:left;
    padding:0 125px;
}
#pager li{
    display:inline;
}
#pager ul a{
    color:#19ACE3;
    padding:0 4px;
    text-decoration:underline;
}
#pager #active{text-decoration:none}
.previous{
    color:#19ACE3;
    display:block;
    float:left;
    background:url(../images/left_arrow.gif) top left no-repeat;
    padding:0 0 0 12px;
    margin:0 0 0 4px;
    text-decoration:underline
}
.next{
    color:#19ACE3;
    display:block;
    float:right;
    background:url(../images/right_arrow.gif) top right no-repeat;
    padding:0 12px 0 0;
    margin:0 4px 0 0;
    text-decoration:underline
}
.previous:visited, .next:visited, #pager ul a:visited{text-decoration:underline}
.previous:hover, .next:hover, #pager ul a:hover{text-decoration:none}
#sidebar{
    float:left;
    width:255px;
    padding:270px 0 0 41px;
    color:#97A7B7;
}

#sidebar iframe{
    padding:40px 0 5px 0;
}

#sidebar .quote{
    position:absolute;
    top:307px;
    left:670px;
}
#sidebar .about{
    padding:0 0 44px 0;
    overflow:hidden;
    float:left;
}
#sidebar .about p{
    padding:15px 0 10px 0;
}
#categories{
    padding:10px 0 50px 0;
}
#categories li{
    list-style-type:none;
    background:url(../images/bullet.gif) 5px 8px no-repeat;
    line-height:20px;
    padding:0 0 0 18px;
}
#categories li a{
    color:#19ACE3;
    text-decoration:underline
}
#categories li a:visited{text-decoration:underline}
#categories li a:hover{text-decoration:none}
#photos{
    padding:24px 0 80px 2px;
}
#photos li{
    width:250px;
    list-style-type:none;
    padding:0 0 15px 0;
    text-align:center;
}
#photos a{
    font-size:12px;
    color:#19ACE3;
    text-decoration:none;
}
#photos a:visited{text-decoration:none}
#photos a:hover{text-decoration:underline}
#photos a img{
    margin:0 0 8px 0;
    text-decoration:none
}
#photos a img:hover{text-decoration:none}
#footer{
    height:153px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#9A9A9A;
}
#bottom_menu{
    width:633px;
    float:left;
    padding:30px 30px 0 0;
}
#footer ul{
    display:block;
    float:right
}
#footer li{
    list-style-type:none;
    display:inline;
}
#footer li a{
    color:#9A9A9A;
    margin:0 10px;
    text-decoration:none
}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}
.copyright{
    width:295px;
    float:left;
    padding:30px 0 0 48px;
}
.copyright a{
    color:#F06C1C;
    text-decoration:underline
}
.copyright a:visited{text-decoration:underline}
.copyright a:hover{text-decoration:none}
